@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');

:root {

    /* PALETA DE CORES */
    --color-bg: #282828;
    --color-red: #fb4934;
    --color-green: #b8bb26;
    --color-yellow: #fabd2f;
    --color-blue: #83a598;
    --color-purple: #d3869b;
    --color-aqua: #8ec07c;
    --color-white: #ebdbb2;
    --color-gray: #928374;
    --color-dark: #1d2021;
    --color-light: #fbf1c7;
    --color-orange: #fe8019;

    /* DEFINE TAMANHO PADRÃO DA MEDIDA REM */
    font-size: 62.5%;

    /* DEFINE ALTURA PADRÃO DA BARRA DE NAVEGAÇÃO */
    --nav-height: 5.6rem;

}

/* GERAL */

html {
    scroll-behavior: smooth;
    text-shadow: 2px 2px 0.5rem rgba(0, 0, 0, 0.5);
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--color-bg);
    color: var(--color-white);
    font-family: 'Exo 2', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;

    overflow: overlay;
    text-align: center;
}

.container {
    margin-inline: auto;
    padding-inline: 15.2rem;
}

hr {
    border: 0;
    border-bottom: 3px solid var(--color-aqua);
    margin-block: 12rem;
}

/* NAVEGAÇÃO */
nav {
    height: var(--nav-height);
    padding-block: 3.2rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: var(--color-bg);
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo__ico {
    height: 4rem;
    width: 4rem;
    margin-right: 1.4rem;
}

nav .logo__name {
    align-self: center;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    cursor: pointer;
}

nav ul {
    align-self: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 1.6rem;
    cursor: pointer;
}

/* SEÇÃO SOBRE MIM */

main {
    margin-top: 12rem;
}

#apresentacao {
    display: flex;
    align-items: center;
    height: calc(100vh - 12rem);
}

#apresentacao .texto {
    flex: 1;
    margin-right: 1.7rem;
}

h1 {
    font-size: 5.2rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2.4rem;
    color: var(--color-blue);
}

#apresentacao .texto h1 en {
    color: var(--color-white);
}

#apresentacao .texto p {
    font-size: 2.2rem;
    font-weight: 300;
    text-align: left;
    margin-bottom: 2.4rem;
    color: var(--color-gray);
}

#apresentacao .texto ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: flex-start;
}

#apresentacao .texto ul li {
    font-size: 1.6rem;
    display: inline-block;
    margin: 0 1.6rem;
    cursor: pointer;
}

#apresentacao .texto li:nth-child(1) {
    margin-left: 0;
}

#apresentacao .foto {
    height: 36.8rem;
    width: 36.8rem;
}

#apresentacao .foto img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 0.4rem solid var(--color-yellow);
    object-fit: cover;

    box-shadow: 3px 3px 0.5rem rgba(0, 0, 0, 0.8);
}

/* SEÇÃO SOBRE MIM */

#sobre_mim,
#formacao {
    padding-block: 12rem;
    background-color: var(--color-dark);
}

#sobre_mim .texto {
    max-width: 50vw;
}

#sobre_mim .texto h2 {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2.4rem;
    color: var(--color-blue);
}

#sobre_mim .texto p {
    font-size: 2.2rem;
    font-weight: 300;
    text-align: left;
    margin-bottom: 2.4rem;
    color: var(--color-gray);
}

/* SKILLS E HOBBIES*/

#skills_hobbies {
    padding-block: 12rem;
}

#skills_hobbies h2 {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2.4rem;
    color: var(--color-blue);
}

#skills_hobbies .skills__area,
.hobbies__area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2.4rem;
    width: 100%;
}

#skills_hobbies .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    margin: 1.6rem;
    border-radius: 1.6rem;
    background-color: var(--color-dark);
    box-shadow: 3px 3px 0.5rem rgba(0, 0, 0, 0.8);
}

#skills_hobbies .card__img {
    width: 6.4rem;
    margin-bottom: 1.6rem;
}

#skills_hobbies .card__titulo {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-green);
}

/*FORMAÇÃO*/

#formacao .formacao__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2.4rem;
    width: 100%;
}

.card__light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 4rem;
    margin: 1.6rem;
    border-radius: 1.6rem;
    background-color: var(--color-bg);
    box-shadow: 3px 3px 0.5rem rgba(0, 0, 0, 0.8);
}

#formacao .card__img {
    width: 30rem;
    margin-bottom: 1.6rem;
    border-radius: 0.5rem;
}

.card__titulo___light {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-green);
}

.card__descricao {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}

/*FOOTER*/

footer {
    padding: 4rem 0;
    background-color: var(--color-dark);
}

footer p {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    color: var(--color-white);
}